MLOps/ADF/pipeline/Australia_Wildfire_Data.json
{
	"name": "Australia_Wildfire_Data",
	"properties": {
		"activities": [
			{
				"name": "Download_Satellite_Image",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@concat('https://wildfire-function-app.orangemoss-70554d66.southeastasia.azurecontainerapps.io/api/download_scene')",
						"type": "Expression"
					},
					"body": {
						"value": "{\n  \"area_of_interest\": {\n    \"type\": \"Polygon\",\n    \"coordinates\": [\n      [\n        [146.0, -38.0],\n        [150.0, -38.0],\n        [150.0, -34.0],\n        [146.0, -34.0],\n        [146.0, -38.0]\n      ]\n    ]\n  },\n  \"date\": \"2019-12-01/2023-03-31\",\n  \"max_cloud_cover\": 15,\n  \"region\": \"australia\",\n  \"limit\": 50\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Store_Manifest_Path",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Download_Satellite_Image",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "manifestPath",
					"value": {
						"value": "@if(\n  equals(activity('Download_Satellite_Image').output.status, 'success'),\n  concat('raw/satellite/australia/', activity('Download_Satellite_Image').output.manifest_path),\n  'no_images_found'\n)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"manifestPath": {
				"type": "String"
			}
		},
		"annotations": []
	}
}