MLOps/ADF/pipeline/Daily_Satellite_Download.json
{
	"name": "Daily_Satellite_Download",
	"properties": {
		"activities": [
			{
				"name": "Download_Satellite_Image",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@concat('https://wildfire-function-app.orangemoss-70554d66.southeastasia.azurecontainerapps.io/api/download_scene')",
						"type": "Expression"
					},
					"body": {
						"value": "{\n  \"area_of_interest\": {\n    \"type\": \"Polygon\",\n    \"coordinates\": [[\n      [-122.34, 47.60],\n      [-122.33, 47.60],\n      [-122.33, 47.61],\n      [-122.34, 47.61],\n      [-122.34, 47.60]\n    ]]\n  },\n  \"date\": \"2025-08-20/2025-08-30\"\n  \"max_cloud_cover\": 50\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Store_Manifest_Path",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Download_Satellite_Image",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "manifestPath",
					"value": {
						"value": "@if(\n  equals(activity('Download_Satellite_Image').output.Response.status, 'success'),\n  activity('Download_Satellite_Image').output.Response.manifest_path,\n  'no_images_found'\n)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"manifestPath": {
				"type": "String"
			}
		},
		"annotations": []
	}
}